version: "3.7"
services:
  php:
    build: ./php
    restart: always
    volumes:
      - ${APPLICATION_PATH}:/var/www/html

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - ${NGINX_HTTP_PORT}:80
      - ${NGINX_HTTPS_PORT}:443
    volumes:
      - ${NGINX_SITES_PATH}:/etc/nginx/conf.d
    links:
      - php:php

  postgres:
    image: postgres
    restart: always
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${POSTGRES_DATA_PATH}:/var/lib/postgresql/data